<!DOCTYPE html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
 	<title>Document</title>
 </head>
 <body>
 	{# template tag cuando solo se quiere solo un template file #}
 	{# si se quieren muchos se pone load staticfiles  #}
 	{% load static from staticfiles %}
	{{artist.firstName}}

	{# version buena #}
	{# <img src="{{STATIC_URL}}imagen.jpg" alt="" style="width: 500px;"> #}

	{# version mjorada tiene load static #}
	<img src="{% static "imagen.jpg" %}" alt="" style="width: 500px;">

 </body>
 </html> 