{% load cache %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Track {{titulo}} </title>
</head>
<body>
	<section>
		<ul>
			{% for track in tracks %}
			<li>
				<a href="{{ track.get_absolute_url}}"> {{ track.title }}</a>
				{% if track.id == selected_track.id %} ------ {% endif %}
			</li>
			{% endfor %}
		</ul>

		{# asi se guarda en la tabla #}
		{% cache 3 frase %}
		<p style="color: red;">
			{{titulo}}
		</p>
		{% endcache %}
		<p>

			Title: {{track.title}}
		</p>
		<p>
			Order: {{track.order}}
		</p>
		<p>
			Track File: {{track.trackFile}}
		</p>
		<p>
			Album: {{track.album.title}}
		</p>
		<p>
			Artist: {{track.artist.firstName}} <br/>
		</p>
		<p>
			Biografía: {{ bio }}
		</p>
	</section>
</body>
</html>